<template>
  <div class="drawer"
    :class="{'--opened': isOpened, '--closed': isClosed, '--open': isOpening, '--close': isClosing}">
    <header class="drawer-header">
      <slot name="header"></slot>
      <button @click="toggle">TOGGLE ME</button>
    </header>
    <div class="drawer-contents">
      <slot name="contents"></slot>
    </div>
  </div>
</template>
<script src="./Drawer.js"></script>
<style src="./Drawer.css"></style>
