/* Drawer.css */
* { box-sizing: border-box; }
.drawer {
  --drawer-animation-duration: 150ms;
  position: relative;
  text-align: initial;
  border-width: var(--border-width, 1px);
  border-style: var(--border-style, solid);
  border-color: var(--border-color, gray);
  border-radius: var(--border-radius, 3px);
}

.drawer-header {
  display: flex;
  padding: var(--spacing, 1rem);
  align-items: center;

  border-bottom-width: var(--border-width, 1px);
  border-bottom-style: var(--border-style, solid);
  border-bottom-color: var(--border-color, gray);
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
  background-color: var(--header-background-color, white);
}

.drawer-header * { flex-grow: 1; }
.drawer-header button {
  flex-grow: 0;
  margin-inline-start: var(--spacing, 1rem);
  cursor: pointer;
}

.drawer-contents {
  overflow-y: hidden;
  background-color: var(--contents-background-color, white);
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
  transform-origin: top left;
}

/* animating */
.--open .drawer-contents,
.--close .drawer-contents {
  position: absolute;
  top: 100%;
  width: 100%;
  height: auto;
  padding: var(--spacing, 1rem);
  transform-origin: top left;
}
.--open .drawer-contents {
  animation: open_drawer ease-in var(--drawer-animation-duration);
  animation-fill-mode: forwards;
}

.--close .drawer-contents {
  animation: close_drawer ease-out var(--drawer-animation-duration);
  animation-fill-mode: forwards;
}

@keyframes open_drawer {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

@keyframes close_drawer {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}

/* opened */
.--opened .drawer-contents {
  position: relative;
  height: auto;
  padding: var(--spacing, 1rem);
}

/* closed */
.--closed .drawer-header {
  border-bottom-width: 0;
}

.--closed .drawer-contents {
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
}
