<template>
  <Drawer>
  <template v-slot:header>
    <span>Some title</span>
  </template>
  <template v-slot:contents>
    <p>
    Yo-ho-ho loot skysail long boat jib booty warp yawl yard hands. Cutlass
    tender coffer mutiny Blimey list sheet marooned gun lookout. Furl rigging
    ballast poop deck bucko mizzen lugsail belay man-of-war Sail ho.
    </p>
    <p>
    Stern haul wind broadside hands pressgang tender flogging Shiver me timbers
    marooned dead men tell no tales. Tack mizzenmast bring a spring upon her
    cable aft run a rig bilge careen bowsprit square-rigged me. Aft ho heave to
    scourge of the seven seas starboard swing the lead Admiral of the Black
    lateen sail hulk square-rigged.
    </p>
    <p>
    Jack Ketch cackle fruit chantey execution dock black jack long clothes
    scurvy bilge rat code of conduct driver. Square-rigged belaying pin loot
    handsomely hearties Chain Shot deadlights black spot topsail lass. Careen
    bilge plunder sheet man-of-war fluke Gold Road avast gaff Spanish Main.
    </p>
  </template>
  </Drawer>
  <p>
  Jack Ketch cackle fruit chantey execution dock black jack long clothes scurvy
  bilge rat code of conduct driver. Square-rigged belaying pin loot handsomely
  hearties Chain Shot deadlights black spot topsail lass. Careen bilge plunder
  sheet man-of-war fluke Gold Road avast gaff Spanish Main.
  </p>
</template>

<script>
import Drawer from './components/Drawer.vue'
export default {
  name: 'App',
  components: { Drawer }
}
</script>
<style>
body { background-color: white; }
</style>
